Desktop/
dev/
Development/
Documents/
Downloads/
Dropbox/
go/
lib/
Music/
Pictures/
Public/
Templates/
Videos/
.ICEauthority
.bash_history
.cache/
.config/
.dropbox-dist/
.dropbox/
.esd_auth/
.gnome/
.gnupg/
.lesshst
.local/
.nvm/
.pki/
.ssh/
.zsh-update
.zsh_history
.esd_auth
.zcompdump*
.oh-my-zsh/
.z
.IntelliJIdea2017.1/
.electron*
.gem*
.git.scmbrc
.java*
.Xauthority
.appcfg_oauth2_tokens
.arcrc
.subversion
.tldr
.bashrc.backup
.boto
.codeintel
.dwm*
.mkshrc
.npm/
.oracle*
.pyenv
.rvm
.python_history
.scm_breeze
.v8flags*
.wget-hsts
.zsrhc.backup
bin
go-installs
.yarnrc
.scmbrc