Desktop/
dev/
Development/
Documents/
Downloads/
Dropbox/
go/
lib/
Music/
Pictures/
Public/
Templates/
Videos/
.ICEauthority
.bash_history
.cache/
.config/
.dropbox-dist/
.dropbox/
.esd_auth/
.gnome/
.gnupg/
.lesshst
.local/
.nvm/
.pki/
.ssh/
.zsh-update
.zsh_history
.esd_auth
.zcompdump*
.oh-my-zsh/
.z